@model IEnumerable<BookShoppingCartMVC.Models.Order>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    ViewData["Title"] = "Index";
}

<h1>Order</h1>

<div class="my-2">
    <form asp-action="Index" class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label class="visually-hidden" for="OrderStatusId">Order Status</label>
            <select class="form-select" id="OrderStatusId" name="OrderStatusId">
                <option selected>Order Status</option>
                @foreach (var s in @ViewBag.OrderStatus)
                {
                    <option value="@s.Id" selected="@(s.Id == @ViewBag.OrderStatusId)">@s.StatusName</option>
                }

            </select>
        </div>

    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Orders) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.CreateDate
            </td>
                <td>
                    @item.StatusName
                </td>
                <td>
                    @if (item.IsDeleted)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }

                </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#OrderStatusId").change(function () {
            var id = $(this).val();
            // Submit the form
            window.location.href = "/OrderProcess/Index?OrderStatusId=" + id;
        });
    });
</script>
