@model BookDisplayModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="my-2">
    <form asp-action="Index" class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label class="visually-hidden" for="genreId">Genre</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Genre</option>
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre.Id" selected ="@(genre.Id == Model.GenreId)">@genre.GenreName</option>
                }
              
            </select>
        </div>

  <div class="col-12">
            <label class="visually-hidden" for="sTerm">Search by title</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" id="sTerm" name="sTerm" placeholder="Search by title" value="@Model.sTerm">
    </div>
  </div>
  
  
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="/Home/Index" class="btn btn-primary">Reset</a>
  </div>
</form>
</div>

<div class="w-100 d-flex flex-wrap">

@foreach (var book in Model.Books)
{
    
    <div class="card border-secondary mb-3 mx-3 mt-4 " style="max-width: 300px;">
                <div class="card-header"></div>
                @if (string.IsNullOrEmpty(book.Image))
                {
                <img style="width:300px;height:300px" src="/images/NoImage.png" class="card-img-top" alt="...">

                }
                else
                {
                <img src="/images/@book.Image" style="width:300px;height:300px" class="card-img-top" alt="...">
                
                }
        <div class="card-body">
            <h4 class="card-title">@book.BookName</h4>
            <p class="card-text">
                        <b>Genre:</b>  @book.GenreName
                <br />
                        <b>Author:</b>  @book.AuthorName <br />
                        <b>Price:</b> @book.Price <br />
            </p>
            <button type="button" onclick="add(@book.Id)" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
}
</div>
@section Scripts {
    <script>
      async function  add(bookId) {
    try {
var usernameEL = document.getElementById("username");
                if (usernameEL == null) {

                    window.location.href = "/Identity/Account/Login";
                    // var username = usernameEL.innerHTML;
                    // if(username.length < 1)
                    // {
                    //    window.location.href = "/Identity/Account/Login";
                    // }
                }
        var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
        if(response.status == 200)
        {
              var result = await response.json();
              console.log(result);
              var cartCountEL = document.getElementById("CartCount");
              cartCountEL.innerHTML = result;
              window.location.href = "#CartCount";
        }
        else
        {
            alert("Item not added to cart");
        }
       
    }
    catch (e) {
        console.log(e);
    }

        }
    </script>
}